In [1]:
import pandas as pd
import numpy as np
import requests

In [15]:
df=pd.read_csv('maha_black_spots.csv')
df.head(5)
# print(df.dtypes)

,S.\nNo.,Name of the District,Juridiction/ Police\nStation,Location of accidents\nincluding chainage (km,NH No.,No. of\nfatalities,Reasons for frequent\naccidents,Latitude,Longitude
0,1,Thane/Manor,NaN,Kude to Sativali,8,46,Chowk Zig Zag Road,19.218331,72.978090
1,2,Thane/Ghoti,NaN,Old kasara Ghat,3,46,S Curve and Steep Slope,17.739872,83.259002
2,3,Satara/Karad,NaN,Malkapur,4,40,Steep Slope,20.884327,76.202608
3,4,Pune/Khandala,NaN,Waksai,4,36,Narrow Road,18.765001,73.453831
4,5,Jalgaon/Paldhi,NaN,Serve Town Chowk,6,36,Road Junction,21.024535,75.454865

In [16]:
print(df.dtypes)
df.isnull().sum()

S.\nNo.                                            int64
Name of the District                              object
Juridiction/ Police\nStation                     float64
Location of accidents\nincluding chainage (km     object
NH No.                                             int64
No. of\nfatalities                                 int64
Reasons for frequent\naccidents                   object
Latitude                                         float64
Longitude                                        float64
dtype: object

S.\nNo.                                           0
Name of the District                              0
Juridiction/ Police\nStation                     25
Location of accidents\nincluding chainage (km     0
NH No.                                            0
No. of\nfatalities                                0
Reasons for frequent\naccidents                   0
Latitude                                          0
Longitude                                         0
dtype: int64

In [17]:
# df.loc[df['Location of accidents including chainage (km to km)'].isnull(),'Location of accidents including chainage (km to km)']=df.loc[df['Location of accidents including chainage (km to km)'].isnull(),'Juridiction/ Police Station']
# df['Location of accidents including chainage (km to km)'].fillna(df['Juridiction/ Police Station'],inplace=True)

In [18]:
def get_query_name(name_attribute):
    query_array=[]
    for place in name_attribute:
        substring_1=""
        flag=0
        for i in place:
            if(flag==0):
                if i!='/' and i!='\\': 
                    substring_1=substring_1+i
                if i=='/':
                    substring_1=substring_1+'%20'
                if i=='\\':
                    flag=1
                    continue
            flag=0
#     return(substring_1)
        query_array.append(substring_1)
    return query_array

In [6]:
query_array=get_query_name(df['Location of accidents\nincluding chainage (km'])
substitute_array=get_query_name(df['Name of the District'])
key='AIzaSyCG2EJVnD6OqtU-7qRrHyR-ygXU2CpnEaA'

In [7]:
# query_array=df['Location of accidents\nincluding chainage (km']
# substitute_array=df['Name of the District']
# key='AIzaSyCG2EJVnD6OqtU-7qRrHyR-ygXU2CpnEaA'

In [8]:
temp=pd.DataFrame({
    'Exact Location':query_array,
    'District':substitute_array
})
temp

              Exact Location               District
0           Kude to Sativali          Thane%20Manor
1            Old kasara Ghat          Thane%20Ghoti
2                   Malkapur         Satara%20Karad
3                     Waksai        Pune%20Khandala
4           Serve Town Chowk       Jalgaon%20Paldhi
5                Wadjai Nala       Jalgaon%20Paldhi
6             Saykhed Hawali          Thane%20Manor
7               Wadgaon Fata         Pune%20Wadgaon
8                     Kashil         Satara%20Karad
9                    Kalambe       Thane%20Shahapur
10                    Amboli        Thane%20Charoti
11              Sukeli Phata         Raigad%20Mahad
12                Masur Fata         Satara%20Karad
13             Naldurga Ghat   Osmanabad%20Naldurga
14              Eklagna Gaon       Jalgaon%20Paldhi
15               Avtar Dhaba       Jalgaon%20Paldhi
16                 Umbarmali       Thane%20Shahapur
17                   Kamshet         Pune%20Wadgaon
18                   Warwada        Thane%20Charoti
19  Center Chowk(Dehu\nRoad)         Pune%20Vadgaon
20                    Vadoda        Nagpur%20Ramtek
21              Malup Shivar   Osmanabad%20Naldurga
22     Topgaon to Kasar Wadi  Kolhapur%20Ujalaiwadi
23                 Jeetegaon       Raigad%20Palaspe
24                 Dasarkhed    Buldhana%20Malkapur

In [9]:
def get_lat_lng(df, query_array, substitute_array, key):
    lat = []
    lng = []
    for name in df['Exact Location']:
        try:
            if name or df.loc[df[query_array] == name, df[substitute_array]].values[0]:
                response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + name + '&key=' + key)
                data = response.json()
                if data['results']:
                    print('Got Results!')
                    lat.append(data['results'][0]['geometry']['location']['lat'])
                    lng.append(data['results'][0]['geometry']['location']['lng'])
                else:
                    print('Did not get results for: '+name)
                    substitute_value = df.loc[df['Exact Location'] == name, 'District'].values[0]
                    print(substitute_value)
                    response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + substitute_value + '&key=' + key)
                    data = response.json()
                    print('Getting district name...')
                    if data['results']:
                        print('Got District Name!')
                        lat.append(data['results'][0]['geometry']['location']['lat'])
                        lng.append(data['results'][0]['geometry']['location']['lng'])
                    else:
                        print('Got Nothing.')
                        lat.append(None)
                        lng.append(None)
        except Exception as e:
            print('Error occurred:', e)
            lat.append(None)
            lng.append(None)
            print('Proceeding to next iteration...')
            continue
    return lat, lng

In [10]:
lat_array, lng_array = get_lat_lng(temp, query_array, substitute_array, key)

Did not get results for: Kude to Sativali
Thane%20Manor
Getting district name...
Got District Name!
Got Results!
Got Results!
Got Results!
Did not get results for: Serve Town Chowk
Jalgaon%20Paldhi
Getting district name...
Got District Name!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Did not get results for: Sukeli Phata
Raigad%20Mahad
Getting district name...
Got District Name!
Did not get results for: Masur Fata
Satara%20Karad
Getting district name...
Got District Name!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Got Results!
Did not get results for: Malup Shivar
Osmanabad%20Naldurga
Getting district name...
Got District Name!
Got Results!
Did not get results for: Jeetegaon
Raigad%20Palaspe
Getting district name...
Got District Name!
Got Results!

In [ ]:
if(len(lat_array)==len(lng_array)):
    if(len(lat_array)==len(temp['Exact Location'])):
        print('Succesfully got all Coordinates!')
    else:
        print('Some Coordinates left out.')
Latitude=pd.Series(lat_array,name='Latitude')
Longitude=pd.Series(lng_array,name='Longitude')

In [ ]:
display(Latitude,Longitude)
df

In [ ]:
df=pd.concat([df,Latitude,Longitude],axis=1)
df

In [ ]:
df.to_csv('C:/Users/Admin/Desktop/INTEL_DATA/raj_black_spots.csv', index=False)